@media (max-width: 768px) {
  .buttonTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .buttonStarted {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 92%; 
    padding: 5px;
    font-size: 16px;
    box-shadow: 6px 6px 1px black !important;
    border: 2px solid black;
    border-radius: 10px;
    font: black !important;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #fcbd23;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }

  .buttonStarted::before {
    content: "";
    top: 0;
    left: 0;
    width: 0rem;
    height: 4rem;
    transition: 0.5s ease;
    position: absolute;
    background-color: lemonchiffon;
    z-index: -1;
    color: black !important; 
  }

  .buttonStarted:hover::before {
    font-size: 15px;
    width: 100%;
    cursor: pointer;
    color: black !important; 
  }

  .heroImage {
    width: 100%;
    max-width: 850px;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
  }

  .headArticle {
    padding-left: 1rem;
    font-size: 26px;
  }

  .semiArticle {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 18px;
  }

  .listIcon {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 2rem;
    gap: 1rem;
  }

  .containerIcon {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .iconBox {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 5px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconSize {
    width: 20px;
    height: 20px;
    color: floralwhite;
  }

  .brFordetailIcon {
    display: none;
  }
  .brDetailHeroDecktop {
    display: none;
  }

  .btnHero {
    display: none;
  }

  .boxBtnbotMobile {
    padding: 1rem;
    padding-top: 2rem;
  }

  .btnheroButton {
    padding: 1rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    font-size: 16px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .buttonTop {
    display: none;
  }

  .heroImage {
    width: 37%;
    max-width: 850px;
  }

  .titleContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 15rem;
  }

  .headArticle {
    padding-left: 1rem;
    font-size: 45px;
  }

  .semiArticle {
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 20px;
  }

  .listIcon {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-top: 4rem;
    gap: 2rem;
  }

  .containerIcon {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .iconBox {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 5px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconSize {
    width: 20px;
    height: 20px;
    color: floralwhite;
  }

  .buttonHero {
    padding-top: 2rem;
    padding-left: 1rem;
  }

  .btnHero {
    width: 7.5rem;
    height: 2.6rem;
  }

  .brDetailHeroMobile {
    display: none;
  }

  .btnheroButton {
    display: none;
  }
}
