@media (max-width: 768px) {
  .navSection {
    padding: 1rem;
    padding-left: 1rem;
    background-color: ghostwhite;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
  }

  .RxHamburgerMenu {
    width: 10%;
    height: 10%;
  }

  .linkBox {
    display: none;
  }

  .linkElement {
    display: none;
  }

  .linkElement::hover {
    display: none;
  }

  .navLink {
    display: none;
  }

  .navLink:hover {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navSection {
    max-width: 1440px; /* ล็อกความกว้าง */
    margin: 0 auto;
    padding: 2rem;
    padding-left: 2rem;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .RxHamburgerMenu {
    display: none;
  }

  .containerIcon {
    padding-top: 6px;
  }

  .linkBox {
    padding-left: 30rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .linkElement {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
  }

  .navLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  .navLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  .navLink:hover {
    text-decoration: underline;
    color: #fcbd23;
  }

  .boxIconFaUser {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .FaUserCircle {
    width: 20px;
    height: 20px;
  }

  .buttonStarted {
    padding: 7px;
    font-size: 15px;
    box-shadow: 6px 6px 1px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #fcbd23;
  }

  .buttonStarted::before {
    content: "";
    top: 0;
    left: 0;
    width: 0rem;
    height: 3rem;
    transition: 0.5s ease;
    position: absolute;
    background-color: lemonchiffon;

    z-index: -1;
  }

  .buttonStarted:hover::before {
    font-size: 15px;
    width: 6rem;
    cursor: pointer;
  }
}
