.container {
  background-color: #fdd6ed;
  padding: 4rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}

.content {
  max-width: 100%;
  height: auto; /* ปรับให้สูงอัตโนมัติตามเนื้อหา */
  gap: 2rem;
  justify-content: center;
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem; /* เพิ่มระยะห่างด้านล่าง h2 */
}

.paragraph {
  font-size: 1rem;
  line-height: 1.7;
  color: #333; /* เปลี่ยนสีข้อความได้ตามต้องการ */
  margin-bottom: 4rem; /* เพิ่มระยะห่างด้านล่าง h2 */
  width: 470px;
  font-weight: 400;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem; /* เพิ่มระยะห่างระหว่างรูป */
  align-items: center;
}

.img {
  width: calc(25% - 1rem);
  height: 120px;
  object-fit: contain;
  padding: 0.4rem;
}

.cruvedBox {
  position: relative;
  width: 100%;
  height: 110px;
  background-color: #fdd6ed;
  overflow: hidden;
  z-index: 50;
  margin-top: 4rem;
}

.cruvedBoxContent {
  position: absolute;
  top: -70px;
  right: -2%;
  width: 150%;
  height: 110px;
  background-color: white;
  border-radius: 70% / 70%;
  z-index: 50;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 2rem;
  }

  .content {
    width: 100%; /* แสดง 3 รูปใน 1 แถวสำหรับหน้าจอแท็บเล็ต */
    height: 100%;
  }

  .heading {
    font-size: 1.5rem;
    width: 70%;
    line-height: 1.4;
  }

  .paragraph {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .img {
    width: calc(50% - 1rem); /* แสดง 2 รูปใน 1 แถวสำหรับหน้าจอมือถือ */
    height: 100px;
    padding: 0.4rem;
  }
}
